*{
    /*padding: 0%;*/
    box-sizing: border-box;
}
html {
    font-size: 1rem;
    height: 100%;
}
body, header, main, footer {
    border: 3px darkred solid;
    background-color: rgb(255, 255, 255);
    min-height: 150px;
    min-width: 250px;
    margin: 0.5rem ;
}


header {
    box-shadow: 0 0 0.5rem;
}

body {
    background-color: rgb(255, 255, 255);
    border: 1px dashed;
    font-family: 'Oxygen-Regular';
    line-height: normal;
    height: auto;
    overflow: auto;
}


main {
    min-height: 280px;
    height: auto;
    border: 4px red dotted;
    overflow: auto;
}

main>div {
    border: 2px blue solid;
    min-height: 180px;
    margin: 0.5rem;
    height: auto;
    float: left;
    width: auto;
    min-width: 40%;
}

main>aside {
    border: 4px blue double;
    background-color: rgb(101, 101, 237);
    
    min-height: 180px;
    margin: 0.5rem;
    height: auto;
    float: left;
    width: auto;
    min-width: 30%;

}

.secciones {
    border: 3px darkgoldenrod double;
    min-height: 150px;
    min-width: 250px;
    margin: 0.5rem ;
}

.header-menubar {
    left: auto;
    position: relative;
    top: auto;
    width: auto;
    display: inline-block;
    margin: 0.5rem 0 0.5rem 2.5rem;

}

.header-menubar ul {
 list-style: none;
}

.header-menubar li {
    float: left;
    font-size: larger ;
    font-weight: 700;
    text-align: center;
    text-indent: 0rem;
    width: auto;
    margin: 2rem;
    
}

.header-logo {

    width: auto;
    display: inline-block;
    margin: 1.3rem;

}