*{
    /*padding: 0%;*/
    box-sizing: border-box;
}
html {
    font-size: 1rem;
    height: 100%;
}
body, header, main, footer {
    border: 3px darkred solid;
    min-height: 150px;
    min-width: 250px;
    margin: 0.5rem ;
}

body {
    background-color: rgb(245, 240, 240);
    background-image:;
    font-family:'Oxygen-Regular';
    line-height: normal;
    height: auto;
    overflow: auto;
}


main {
    min-height: 280px;
    height: auto;
    border: 4px red dotted;
    overflow: auto;
}

main>div {
    border: 2px blue solid;
    min-height: 180px;
    margin: 0.5rem;
    height: auto;
    float: left;
    width: 60%;
}

main>aside {
    border: 4px blue double;
    background-color: rgb(101, 101, 237);
    
    min-height: 180px;
    margin: 0.5rem;
    height: auto;
    float: left;
    width: 36%;
    min-width: 30%;

}

.secciones {
    border: 3px darkgoldenrod double;
    min-height: 150px;
    min-width: 250px;
    margin: 0.5rem ;
}

